.username-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh; 
  text-align: center;

  h1 {
    margin-bottom: 30px;
  }

  input {
    width: 100%;
    max-width: 300px;
    padding: 10px;
    margin-bottom: 20px;
  }

  .button-container {
    display: flex;
    gap: 10px;
  }

  button {
    flex-direction: column ;
    padding: 10px 20px;
    background-color: #0077FF;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0055CC;
    }
  }
}
